@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Office:ital,wght@0,1..1000;1,1..1000&display=swap" rel="stylesheet');
/*for Ysabeau Office font  (import or link)*/

body {
    font-family: "Ysabeau Office", sans-serif;
    font-optical-sizing: auto;
    font-weight: 550;
    font-style: normal;
    background: hsl(0, 0%, 100%);
}

/*NAVIGATION BAR*/

.navbar-brand{
    display: flex;
    align-items: center;
}

.navbar-brand img {
    width: 90px;
    height: 80px;
    margin-left: 40px;
    margin-top: -10px;
    margin-bottom: -5px;
}
.bg-body-tertiary {
    background-color: #fff !important;
}

.nav-item{
    align-items: center;
    margin-right: 5px;
}

.icons{
    display: flex;
    justify-content: space-between;
}

.icons i{
    margin-right: 20px;
    color: rgb(0, 0, 0);
    font-size: 19px;
}

.navbar-center { 
    display: flex; 
    align-items: center; 
    flex: 1; 
    justify-content: center;
    font-size: 17px;
}
.nav-link {
    text-decoration: none; 
    color: inherit; 
    position: relative; 
  }
.nav-link:not(.dropdown-toggle):after { /* Create the underline effect */
    content: "";
    position: absolute;
    width: 100%; 
    height: 2px; 
    bottom: -2px; 
    left: 0;
    background-color: rgb(3, 113, 117);
    opacity: 0; 
    transition: opacity 0.2s ease-in-out; 
  }
  
  .nav-link:hover:after, 
  .nav-link.active:after { 
    opacity: 1; 
  }

.btn-outline-success {
    --bs-btn-color: white;
    background: rgba(0, 0, 0, 0.377);
    --bs-btn-border-color: rgba(255, 255, 255, 0.24);
    --bs-btn-hover-color: black;
    --bs-btn-hover-bg: rgba(255, 255, 255, 0.664);
    --bs-btn-hover-border-color: black;
    --bs-btn-focus-shadow-rgb: 25, 135, 84;
    --bs-btn-active-color: black;
    --bs-btn-active-bg: white;
    --bs-btn-active-border-color: white;
}

/* Global Styles */
.container-fluid {
  padding: 15px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.col-md-8 {
  flex: 0 0 66.67%;
  max-width: 66.67%;
  margin-left: -50px;
}

.col-md-4 {
  flex: 0 0 33.33%;
  max-width: 33.33%;
}

/* Card Styles */
.card {
  border: none;
  border-radius: 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
}

.card-body {
  padding: 15px;
}

/* Product Image Styles */
.img-fluid {
  width: 100%;
  height: 200px;
  object-fit: contain;
  margin: 0 auto;
}

/* Product Details Styles */
h3 {
  margin-top: 10px;
  font-weight: 600;
  margin-bottom: 20px;
  margin-right: 1050px;
}

h5 {
  font-weight: 500;
  font-size: large;
  margin-bottom: 15px;
}

h6 {
  font-weight: 500;
  font-size: medium;
}

p {
  margin-bottom: 10px;
  font-weight: 350;
  font-size: small;
}

/* Form Styles */
.form-group {
  margin-bottom: 20px;
}

.promo-title{
    margin-top: 80px;
}

label {
  display: block;
  margin-bottom: 10px;
}

.form-control {
  padding: 7px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 50%;
  margin-top: 10px;
}

.form-control:focus {
  border-color: #aaa;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#quantity-container {
  display: flex;
  align-items: center;
}

#quantity {
  font-size: 15px; 
  border: 1px solid #ccc; 
  border-radius: 5px; 
  width: 50%; 
  margin-top: 40px; 
  margin-right: 350px; 
  margin-bottom: 15px; 
  margin-left: -140px;
}

.trash-link {
  color: rgb(0, 0, 0);
  font-size: 16px;
  text-decoration: none;
  margin-top: -65px;
  margin-right: 200px;
}

.fa-trash-can {
  color: rgb(0, 0, 0);
  font-size: 16px;
}
/* Button Styles */
button.btn {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  background-color: #242424;
  color: #fff;
  cursor: pointer;
  width: 100%;
}
button.apply{
  padding: 4px 17px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  background-color: #242424;
  color: #fff;
  cursor: pointer;
  width: 20%;
  margin-left: 230px;
  margin-top: -72px
}
button.btn:hover {
  background-color: #03645f;
}

button.btn:active {
  background-color: #03645f;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Table Styles */
table {
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #dee2e6;
}

tr:hover {
  background-color: #f5f5f5;
}

hr {
  border: none;
  border-top: 1px solid #dee2e6;
}

.checkout{
    margin-bottom: 150px;
}
/* *FOOTER*/

.footer{
    padding: 30px 50px;
    background: rgba(10, 10, 10, 0.9);
    position: relative;
}

.footer-box{
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0);   
    flex-wrap: wrap;

}

.footer-box .footer-i{
    margin: 60px;
    margin-top: 5px;
}

.footer-box .footer-i h5{
    color: white;
    margin-bottom: 30px;    
    font-weight: 500;
}

.footer-box .footer-i label{
    display: inline-block;
    margin-bottom: 5px;
    font-size: 14px;
    color: white;
}

.footer-box .footer-i label a{
    color: white;
    cursor: pointer;
    text-decoration: underline;
}


.footer-box .footer-i.f3{
    position: relative;
    top: 45px;
}

.footer-box .footer-i.f3 label{
    width: 400px;
    display: block;
    line-height: 22px;
}

.footer-box .footer-i.f3 input{
    display: inline-block;
    margin-top: 20px;
    width: 300px;
    padding: 12px 30px;
    border: none;
    outline: none;
}

.footer-box .footer-i.f3 button{
    padding: 12px;
    position: relative;
    right: 8px;
    background: rgba(255, 255, 255, 0.329);
    border:none;
    cursor: pointer;
}

.footer-box .footer-i.f3 button:hover{
    background: rgba(255, 255, 255, 0.582);
}

.footer-box .footer-i.f3 .social-media{
    margin-top: 30px;
}

.footer-box .footer-i.f3 .social-media a i{
    color: white;
    margin-right: 10px;
    font-size: 19px;
    border-radius: 50%;
    transition: all .3s ease-in-out;
    padding: 13px;
}

.footer-box .footer-i.f3 .social-media a i:hover{
    background: white;
    color:black;
}

.footer-copyright {
    background: black;
    color: white;
    padding: 10px 0;
    position: absolute; 
    bottom: 0; 
    left: 0; 
    width: 100%; 
    text-align: center; 
    font-size: 16px;
}
