@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Office:ital,wght@0,1..1000;1,1..1000&display=swap" rel="stylesheet');
/*for Ysabeau Office font  (import or link)*/

body {
    font-family: "Ysabeau Office", sans-serif;
    font-optical-sizing: auto;
    font-weight: 550;
    font-style: normal;
    background: hsl(0, 0%, 100%);
}

/*NAVIGATION BAR*/

.navbar-brand{
    display: flex;
    align-items: center;
}

.navbar-brand img {
    width: 90px;
    height: 80px;
    margin-left: 40px;
    margin-top: -10px;
    margin-bottom: -5px;
}
.bg-body-tertiary {
    background-color: #fff !important;
}

.nav-item{
    align-items: center;
    margin-right: 5px;
}

.icons{
    display: flex;
    justify-content: space-between;
}

.icons i{
    margin-right: 20px;
    color: rgb(0, 0, 0);
    font-size: 19px;
}

.navbar-center { 
    display: flex; 
    align-items: center; 
    flex: 1; 
    justify-content: center;
    font-size: 17px;
}
.nav-link {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit color from navbar */
    position: relative; /* Needed for the underline effect */
  }
.nav-link:not(.dropdown-toggle):after { /* Create the underline effect */
    content: "";
    position: absolute;
    width: 100%; /* Span the entire width of the link */
    height: 2px; /* Set the underline height */
    bottom: -2px; /* Position the underline at the bottom */
    left: 0;
    background-color: rgb(3, 113, 117);; /* Set underline color to green */
    opacity: 0; /* Initially hide the underline */
    transition: opacity 0.2s ease-in-out; /* Smooth transition */
  }
  
  .nav-link:hover:after, /* Show underline on hover */
  .nav-link.active:after { /* Show underline on click (active state) */
    opacity: 1; /* Make the underline visible */
  }

.btn-outline-success {
    --bs-btn-color: white;
    background:rgba(0, 0, 0, 0.377);
    --bs-btn-border-color: rgba(255, 255, 255, 0.24);
    --bs-btn-hover-color: black;
    --bs-btn-hover-bg: rgba(255, 255, 255, 0.664);
    --bs-btn-hover-border-color: black;
    --bs-btn-focus-shadow-rgb: 25, 135, 84;
    --bs-btn-active-color: black;
    --bs-btn-active-bg: white;
    --bs-btn-active-border-color: white;}

/*Main*/
.container {
    margin-top: 30px;
  }
  
  h2 {
    text-align: center;
    font-size: 36px;
    margin-top: 5px;
    margin-bottom: 20px; 
    color: #333;
  }
  
  .filters {
    display: flex;
    align-items: center;
    margin-bottom: -5px;
  }
  
  .filters label {
    margin-right: 10px;
  }
  
  .form-control {
    flex-grow: -0.5;
    margin-right: 10px;
    width: 15%;
  }
  .displayed {
    margin-left: 10px;
  }
  .container-row{
    margin: 40px;
  }

  .card {
    position: relative;
    transition: transform .3s;
  }

  .img-hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  }
  
  .card-img-top {
    width: 100%;
    height: 60%;
    object-fit: cover;
    transition: opacity .3s;
  }
  
  .card:hover .card-img-top {
    opacity: 1.0;
  }
  
  .card .img-hover{
    position: absolute;
    width: 100%;
    height: 81.5%;
    object-fit: cover;
    opacity: 0;
    transition: opacity .1s;
  }
  
  .card:hover .img-hover{
    opacity: 1;
  }

  .card-body {
    padding:5px;
  }

  .btn {
    position: absolute;
    top: 5%; /* Center vertically */
    left: 90%; /* Center horizontally */
    transform: translate(-50%, -50%);  /* Adjust positioning if needed */
    background-color: rgba(51, 51, 51, 0.5);
    border: #333;
    color: #fff;
  }
  .btn:hover {
    background-color: rgba(255, 254, 254, 0.5);
    color: #000000;
  }
  
  .cart{
    top: 96%; /* Center vertically */
    left: 90%; /* Center horizontally */
    background-color: rgba(207, 207, 207, 0.8);
    border: #333;
    color: #1d1d1d;
  }
  .cart:hover {
    background-color: rgba(0, 64, 70, 0.9);
    color: #ffffff;
  }

  .card-title {
    font-size: 1.0rem;
    text-align: left;
    margin-left: 15px;
    margin-top: 10px;
  }
  
  .card-text {
    font-size: 0.85rem;
    text-align: left;
    margin-left: 15px;
    margin-bottom: 5px;
  }
  
  .card-text strong {
    font-size: 1.1rem;
    font-weight: bold;
    color: #003a32;
    text-align: left;
  }
  
/* *FOOTER*/

.footer{
    padding: 30px 50px;
    background: rgba(10, 10, 10, 0.9);
    position: relative;
}

.footer-box{
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0);   
    flex-wrap: wrap;

}

.footer-box .footer-i{
    margin: 60px;
    margin-top: 5px;
}

.footer-box .footer-i h5{
    color: white;
    margin-bottom: 30px;    
    font-weight: 500;
}

.footer-box .footer-i label{
    display: inline-block;
    margin-bottom: 5px;
    font-size: 14px;
    color: white;
}

.footer-box .footer-i label a{
    color: white;
    cursor: pointer;
    text-decoration: underline;
}


.footer-box .footer-i.f3{
    position: relative;
    top: 45px;
}

.footer-box .footer-i.f3 label{
    width: 400px;
    display: block;
    line-height: 22px;
}

.footer-box .footer-i.f3 input{
    display: inline-block;
    margin-top: 20px;
    width: 300px;
    padding: 12px 30px;
    border: none;
    outline: none;
}

.footer-box .footer-i.f3 button{
    padding: 12px;
    position: relative;
    right: 8px;
    background: rgba(255, 255, 255, 0.329);
    border:none;
    cursor: pointer;
}

.footer-box .footer-i.f3 button:hover{
    background: rgba(255, 255, 255, 0.582);
}

.footer-box .footer-i.f3 .social-media{
    margin-top: 30px;
}

.footer-box .footer-i.f3 .social-media a i{
    color: white;
    margin-right: 10px;
    font-size: 19px;
    border-radius: 50%;
    transition: all .3s ease-in-out;
    padding: 13px;
}

.footer-box .footer-i.f3 .social-media a i:hover{
    background: white;
    color:black;
}

.footer-copyright {
    background: black;
    color: white;
    padding: 10px 0;
    position: absolute; /* Change this line */
    bottom: 0; /* Add this line */
    left: 0; /* Add this line */
    width: 100%; /* Add this line */
    text-align: center; /* Add this line */
    font-size: 16px;
}
