@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
/*for poppin font  (import or link)*/

body {
    font-family: "Poppins", sans-serif;
}

.navbar-brand{
    display: flex;
    align-items: center;
}

.navbar-brand img {
    width: 38px;
    height: 35px;
    border-radius: 50px;
}

.navbar-brand span{
    margin-left: 5px;
    font-weight:bolder;
    text-shadow: 2px 2px 2px black;
}

.icons{
    display: flex;
    justify-content: space-between;
}

.icons i{
    margin-right: 30px;
    color: white;
}

.btn-outline-success {
    --bs-btn-color: white;
    background:rgba(0, 0, 0, 0.377);
    --bs-btn-border-color: rgba(255, 255, 255, 0.24);
    --bs-btn-hover-color: black;
    --bs-btn-hover-bg: rgba(255, 255, 255, 0.664);
    --bs-btn-hover-border-color: black;
    --bs-btn-focus-shadow-rgb: 25, 135, 84;
    --bs-btn-active-color: black;
    --bs-btn-active-bg: white;
    --bs-btn-active-border-color: white;}

/*.form-control {
    box-shadow: #000;
}*/

.carousel{
    background-color: rgba(0, 0, 0, 0.377);
}

.carousel-item img{
    height: 593px;

}

.carousel-caption {
    text-shadow: 2px 2px 2px black;
    background-color: rgba(0, 0, 0, 0.25);
    margin-bottom: 60px;
    width: 100%;
    margin-left: -200px;
}

.carousel-caption h1{
    font-weight: 700;
    margin-bottom: 10px;
}

.carousel-caption h5{
    color: rgba(255, 255, 255, 0.685);
}

/*.carousel-caption.slider3{
    color: black;
}*/

.carousel-caption button{
    font-weight: 550;
    margin-top: 20px;
    background: rgba(0, 0, 0, 0.815);
    color:white;
}

.carousel-caption button:hover{
    background: rgba(255, 255, 255, 0.664);
    color:black;
}

.welcome{
    margin-top: 40px;
}
.welcome button{

    display: block;
    margin: 20px auto;
    background: rgba(0, 0, 0, 0.815);
    color:white;
    font-weight: 600;
    text-shadow: 2px 2px 2px black;
    
}

.welcome button:hover{
    background: rgba(255, 255, 255, 0.664);
    color:black;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.137);
}

.welcome p{
    width: 40%; /* Adjust the width as needed */
    margin: 0 auto; 
    padding: 10px; /* Add some padding for spacing */
    border: 1px solid rgba(0, 0, 0, 0.37); /* Add border for the box */
    border-radius: 8px; /* Optional: Add rounded corners */
    color: black;
    text-align: justify;
}


/* *FOOTER*/

.footer{
    padding: 50px 90px;
    background: rgba(0, 0, 0, 0.8);
    margin-top: 20px;
}

.footer-box{
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0);   
    flex-wrap: wrap;
}

.footer-box .footer-i{
    margin: 50px;
}

.footer-box .footer-i h5{
    color: black;
    margin-bottom: 30px;    
    font-weight: 600;
}

.footer-box .footer-i label{
    display: inline-block;
    margin-bottom: 5px;
    font-size: 13px;
    color: white;
}

.footer-box .footer-i label a{
    color: white;
    cursor: pointer;
    text-decoration: underline;
}


.footer-box .footer-i.f3{
    position: relative;
    top: 45px;
}

.footer-box .footer-i.f3 label{
    width: 400px;
    display: block;
    line-height: 22px;
}

.footer-box .footer-i.f3 input{
    display: inline-block;
    margin-top: 20px;
    width: 300px;
    padding: 12px 30px;
    border: none;
    outline: none;
}

.footer-box .footer-i.f3 button{
    padding: 12px;
    position: relative;
    right: 8px;
    background: rgba(255, 255, 255, 0.329);
    outline: black;
    border: none;
    cursor: pointer;
}

.footer-box .footer-i.f3 .social-media{
    margin-top: 30px;
}

.footer-box .footer-i.f3 .social-media a i{
    color: white;
    margin-right: 10px;
    font-size: 19px;
    border-radius: 50%;
    transition: all .3s ease-in-out;
    padding: 13px;
}

.footer-box .footer-i.f3 .social-media a i:hover{
    background: white;
    color:black;
}