@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
/*for poppin font  (import or link)*/

body {
    font-family: "Poppins", sans-serif;
    background: #d3d3d3b0;
}


/*NAVIGATION BAR*/

.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-brand img {
    width: 38px;
    height: 35px;
    border-radius: 50px;
}

.navbar-brand span {
    margin-left: 5px;
    font-weight: bolder;
    text-shadow: 2px 2px 2px black;
}

.icons {
    display: flex;
    justify-content: space-between;
}

.icons i {
    margin-right: 30px;
    color: white;
}

.btn-outline-success {
    --bs-btn-color: white;
    background: rgba(0, 0, 0, 0.377);
    --bs-btn-border-color: rgba(255, 255, 255, 0.24);
    --bs-btn-hover-color: black;
    --bs-btn-hover-bg: rgba(255, 255, 255, 0.664);
    --bs-btn-hover-border-color: black;
    --bs-btn-focus-shadow-rgb: 25, 135, 84;
    --bs-btn-active-color: black;
    --bs-btn-active-bg: white;
    --bs-btn-active-border-color: white;
}

/*CONTACT FORMS*/

.bg-img {

    background-image: url("/Contact/images/Contact-w.jpeg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.container1 {
    position: absolute;
    left: 18%;
    margin: 20px;
    width: 400px;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.308);
    font-weight: 400;
}

.info input {
    width: 100%;
    padding: 8px;
    margin: 5px 0 10px 0;
    border: none;
    background: #f1f1f1;
}

input {
    background-color: #ddd;
    outline: none;
}

input:focus{
    background-color: white;
}

.city-info{
    margin: 10px 0px;
}

.article-info{
    margin: 10px 0px;
}

.article-info input{
    margin-right: 1px;
}

.message textarea{
    padding: 0px 8px;
    background-color: #ddd;
}

.message textarea:focus{
    background-color: white;
    outline: none;
}

.email-signup{
    color: white;
}

.container2 {
    position: absolute;
    right: 18%;
    margin: 20px;
    height: 528px;
    width: 400px;
    padding: 100px 50px;
    background-color: rgba(255, 255, 255, 0.596);
}

.contact-info-item{
    display: flex;
    margin-bottom: 30px;
}

.contact-info-icon{
    height: 50px;
    width: 50px;
    background-color: #d3d3d3ec;
    text-align: center;
    border-radius: 50%;
}

.contact-info-icon i{
    font-size: 20px;
    line-height: 50px;
}

.contact-info-content{
    margin-left: 20px;
}

.contact-info-content h4{
color: black;
font-size: 1.4em;
margin-bottom: 5px;
}

.contact-info-content p{
    color: rgb(0, 0, 0);
    font-size: 1em;
}

/* *FOOTER*/

.footer {
    padding: 50px 90px;
    background: rgba(0, 0, 0, 0.8);

}

.footer-box {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0);
    flex-wrap: wrap;
}

.footer-box .footer-i {
    margin: 50px;
}

.footer-box .footer-i h5 {
    color: black;
    margin-bottom: 30px;
    font-weight: 500;
}

.footer-box .footer-i label {
    display: inline-block;
    margin-bottom: 5px;
    font-size: 13px;
    color: white;
}

.footer-box .footer-i label a {
    color: white;
    cursor: pointer;
    text-decoration: underline;
}


.footer-box .footer-i.f3 {
    position: relative;
    top: 45px;
}

.footer-box .footer-i.f3 label {
    width: 400px;
    display: block;
    line-height: 22px;
}

.footer-box .footer-i.f3 input {
    display: inline-block;
    margin-top: 20px;
    width: 300px;
    padding: 12px 30px;
    border: none;
    outline: none;
}

.footer-box .footer-i.f3 button {
    padding: 12px;
    position: relative;
    right: 8px;
    background: rgba(255, 255, 255, 0.329);
    border: none;
    cursor: pointer;
}

.footer-box .footer-i.f3 button:hover {
    background: rgba(255, 255, 255, 0.582);
}

.footer-box .footer-i.f3 .social-media {
    margin-top: 30px;
}

.footer-box .footer-i.f3 .social-media a i {
    color: white;
    margin-right: 10px;
    font-size: 19px;
    border-radius: 50%;
    transition: all .3s ease-in-out;
    padding: 13px;
}

.footer-box .footer-i.f3 .social-media a i:hover {
    background: white;
    color: black;
}