@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Office:ital,wght@0,1..1000;1,1..1000&display=swap" rel="stylesheet');
/*for Ysabeau Office font  (import or link)*/

body {
    font-family: "Ysabeau Office", sans-serif;
    font-optical-sizing: auto;
    font-weight: 550;
    font-style: normal;
    background: hsl(0, 0%, 100%);
}

/*NAVIGATION BAR*/

.navbar-brand{
    display: flex;
    align-items: center;
}

.navbar-brand img {
    width: 90px;
    height: 80px;
    margin-left: 40px;
    margin-top: -10px;
    margin-bottom: -5px;
}
.bg-body-tertiary {
    background-color: #fff !important;
}

.nav-item{
    align-items: center;
    margin-right: 5px;
}

.icons{
    display: flex;
    justify-content: space-between;
}

.icons i{
    margin-right: 20px;
    color: rgb(0, 0, 0);
    font-size: 19px;
}

.navbar-center { 
    display: flex; 
    align-items: center; 
    flex: 1; 
    justify-content: center;
    font-size: 17px;
}
.nav-link {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit color from navbar */
    position: relative; /* Needed for the underline effect */
  }
.nav-link:not(.dropdown-toggle):after { /* Create the underline effect */
    content: "";
    position: absolute;
    width: 100%; /* Span the entire width of the link */
    height: 2px; /* Set the underline height */
    bottom: -2px; /* Position the underline at the bottom */
    left: 0;
    background-color: rgb(3, 113, 117);; /* Set underline color to green */
    opacity: 0; /* Initially hide the underline */
    transition: opacity 0.2s ease-in-out; /* Smooth transition */
  }
  
  .nav-link:hover:after, /* Show underline on hover */
  .nav-link.active:after { /* Show underline on click (active state) */
    opacity: 1; /* Make the underline visible */
  }

.btn-outline-success {
    --bs-btn-color: white;
    background: rgba(0, 0, 0, 0.377);
    --bs-btn-border-color: rgba(255, 255, 255, 0.24);
    --bs-btn-hover-color: black;
    --bs-btn-hover-bg: rgba(255, 255, 255, 0.664);
    --bs-btn-hover-border-color: black;
    --bs-btn-focus-shadow-rgb: 25, 135, 84;
    --bs-btn-active-color: black;
    --bs-btn-active-bg: white;
    --bs-btn-active-border-color: white;
}
/* Global Styles */
.container {
  max-width: 1200px;
  margin: 50px auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.col-md-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

/* Product Image Styles */
.img-fluid {
  width: 100%;
  height: 500px;
  object-fit: contain;
  margin: 0 auto;
}

/* Product Details Styles */
h4 {
  margin-top: 10px;
  font-weight: bold;
  margin-bottom: 10px;
}

h5{
  font-weight: 700;
  font-size: large;
}
p {
  margin-bottom: 10px;
  font-weight: 350;
  font-size: small;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
}

.l1{
  margin-top: 30px;
}
.l2{
  margin-top: -5px;
}

.l3{
  margin-top: -10px;
  margin-bottom: 5px;
}

.form-control {
  padding: 7px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 10%;
  margin-top: -5px;
}

#size{
  padding: 5px;
  font-size: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 10%;
  margin-bottom: -15px;
}

.form-control:focus {
  border-color: #aaa;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button.btn {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  background-color: #242424;
  color: #fff;
  cursor: pointer;
  width: 100%;
}

button.btn:hover {
  background-color: #03645f;
}

button.btn:active {
  background-color: #03645f;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
/*footer*/
.footer{
    padding: 30px 50px;
    background: rgba(10, 10, 10, 0.9);
    position: relative;
}

.footer-box{
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0);   
    flex-wrap: wrap;

}

.footer-box .footer-i{
    margin: 60px;
    margin-top: 5px;
}

.footer-box .footer-i h5{
    color: white;
    margin-bottom: 30px;    
    font-weight: 500;
}

.footer-box .footer-i label{
    display: inline-block;
    margin-bottom: 5px;
    font-size: 14px;
    color: white;
}

.footer-box .footer-i label a{
    color: white;
    cursor: pointer;
    text-decoration: underline;
}


.footer-box .footer-i.f3{
    position: relative;
    top: 45px;
}

.footer-box .footer-i.f3 label{
    width: 400px;
    display: block;
    line-height: 22px;
}

.footer-box .footer-i.f3 input{
    display: inline-block;
    margin-top: 20px;
    width: 300px;
    padding: 12px 30px;
    border: none;
    outline: none;
}

.footer-box .footer-i.f3 button{
    padding: 12px;
    position: relative;
    right: 8px;
    background: rgba(255, 255, 255, 0.329);
    border:none;
    cursor: pointer;
}

.footer-box .footer-i.f3 button:hover{
    background: rgba(255, 255, 255, 0.582);
}

.footer-box .footer-i.f3 .social-media{
    margin-top: 30px;
}

.footer-box .footer-i.f3 .social-media a i{
    color: white;
    margin-right: 10px;
    font-size: 19px;
    border-radius: 50%;
    transition: all .3s ease-in-out;
    padding: 13px;
}

.footer-box .footer-i.f3 .social-media a i:hover{
    background: white;
    color:black;
}

.footer-copyright {
    background: black;
    color: white;
    padding: 10px 0;
    position: absolute; /* Change this line */
    bottom: 0; /* Add this line */
    left: 0; /* Add this line */
    width: 100%; /* Add this line */
    text-align: center; /* Add this line */
    font-size: 16px;
}
